{% extends "showcase/base.html" %}
{% load static %}

{% block content %}
    {% if series_list %}
        <ul class="series-list">
        {% for series in series_list %}
            <li class="series-container"><div class="series-display">
                {{ series.description }}
                <img src="{{ series.thumbnail.url }}" alt="Series Thumbnail" class="image-display">
            </div></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No photos are available.</p>
    {% endif %}

    <style>
        .series-list {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
        }
        .series-container {
            flex: 1 0 34%;
            border: 1px solid red;
        }
        .series-display {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .image-display {
            max-width: 100%;
            padding: 5%;
        }
    </style>

{% endblock %}