{% extends "showcase/base.html" %}
{% load static %}

{% block content %}
    {% if series_list %}
        <ul>
        {% for series in series_list %}
            <li><div class="series-display">
                {{ series.description }}
]                <img src="{{ series.thumbnail.url }}" alt="Series Thumbnail" class="image-display">
                <!-- <img src="images/placeholder.jpg" alt="Series Thumbnail"> -->
            </div></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No photos are available.</p>
    {% endif %}

    <style>
        .series-display {
            display: flex;
            flex-direction: column;
        }
        .image-display {
            max-width: 50%;
        }
    </style>

{% endblock %}