{% extends "showcase/base.html" %}
{% load static %}

{% block content %}
    <div class="title"><h1 class="title">Saturn Lab Photography</h1></div>
    {% if series_list %}
        <ul class="series">
        {% for series in series_list %}
            <li class="series"><a class="series" href="{% url 'series_detail' series_name=series.name %}">
                {{ series.description }}
                <img src="{{ series.thumbnail.url }}" alt="Series Thumbnail" class="series">
            </a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No photos are available.</p>
    {% endif %}

    <style>
        div.title {
            width: 100%;
        }
        h1.title {
            /* margin-left: 10%; */
        }
        a.series {
            display: flex;
            flex-direction: column;
            width: 100%;
            color: black;
            text-decoration: none;
        }
        ul.series {
            display: flex;
            flex-flow: row wrap;
            max-width: 100%;
            list-style-type: none;
            padding-top: 5%;
            padding-left: 10%;
            padding-right: 10%;
            /* margin: 0; */
            /* border: 1px solid red; */
        }
        li.series {
            flex: 1 0 34%;
            /* border: 1px solid red; */
            cursor: pointer;
        }
        img.series {
            max-width: 100%;
            padding: 5%;
        }
    </style>

{% endblock %}